/*--------------- Navigation Bar ---------------*/
.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar li {
    float: left;
    border-left: 2px solid white;
    width: 14.04%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
    font-weight: bold;
}